* {
  background-color: rgb(136, 136, 136);
}

h1 {
  text-align: center;
  font-size: 35px;
  color: black;
}

.center,
.pizza1,
.lentil1,
.burger1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.burger,
.pizza,
.lentil {
  text-align: center;
  list-style: none;
  color: white;
}

.burger img {
  margin: auto 5px;
  float: left;
}

.pizza img {
  margin: auto 5px;
  float: right;
}

.lentil img {
  margin: auto 5px;
  float: center;
}

h2 {
  color: white;
  font-family: fantasy;
}

p {
  font-size: 20px;
  font-weight: bold;
}

ul,
ol {
  font-size: 20px;
}
